<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<div layout:fragment="content">

  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

      <form class="form-horizontal" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-primary">Sign Out</button>
      </form>

    </div>
  </div>

</div>
</html>
